*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  font-family: 'Poppins', sans-serif;
}

body{
  background: #e6e6e6;
  scrollbar-width:thin;
}

.App{
  display: flex;
}

.rightSection{
  width: calc(100% - 250px);
  margin-left: 250px;
  transition: 0.3s ease;
}
/* 
.navlistClose~.rightSection{
  width: 100%;
  margin-left: 0;
  transition: 0.3s ease;
} */

a{
  text-decoration: none;
}

svg, img, div{
}

::-webkit-scrollbar{
  background: #FFF;
  width: 10px;
  /* margin-right: 10px; */
}

::-webkit-scrollbar-track{
  color: #FFF;
}

::-webkit-scrollbar-button{
  display: none;
}

::-webkit-scrollbar-thumb{
  background: #C0C0C0;
  border-radius: 10px;
  border: solid 2px transparent;
}

.flexCard{
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
  flex-wrap: wrap;
}

.blockCard{
  width: 100%;
  padding: 0 15px;
}

.shadowbox{
  box-shadow: 1px 0px 4px;
  border-radius: 5px;
}

@media (max-width: 810px) {
  .toRight{
    width: calc(100% - 250px) !important;
    margin-left: 250px !important;
  }
  .rightSection{
      transition: 0.3s ease;
      width: 100%;
      margin-left: 0;
  }
}

@media (max-width: 410px) {
  .toRight{
    width: calc(100% - 250px) !important;
    margin-left: 250px !important;
    overflow-x: hidden;
  }
}