*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  font-family: 'Poppins', sans-serif;
}

body{
  background: #e6e6e6;
  scrollbar-width:thin;
}

.material-symbols-sharp {
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 48
}

.App{
  display: flex;
}

.rightSection{
  width: calc(100% - 250px);
  margin-left: 250px;
  transition: 0.3s ease;
}
/* 
.navlistClose~.rightSection{
  width: 100%;
  margin-left: 0;
  transition: 0.3s ease;
} */

a{
  text-decoration: none;
}

svg, img, div{
}

::-webkit-scrollbar{
  background: #FFF;
  width: 10px;
  /* margin-right: 10px; */
}

::-webkit-scrollbar-track{
  color: #FFF;
}

::-webkit-scrollbar-button{
  display: none;
}

::-webkit-scrollbar-thumb{
  background: #C0C0C0;
  border-radius: 10px;
  border: solid 2px transparent;
}

.maincard{
  padding: 0 15px;
  box-shadow: 1px 0px 4px;
  border-radius: 5px;
  margin: 0 15px 15px 15px;
  background: #FFF;
}

.flexCard{
  display: flex;
  /* justify-content: space-between; */
  gap: 2px 10px;
  padding: 15px 0;
  flex-wrap: wrap;
}

.blockCard{
  width: 100%;
  padding: 0 15px;
}

.shadowbox{
  box-shadow: 1px 0px 4px;
  border-radius: 5px;
}

@media (max-width: 810px) {
  .toRight{
    width: calc(100% - 250px) !important;
    margin-left: 250px !important;
  }
  .rightSection{
      transition: 0.3s ease;
      width: 100%;
      margin-left: 0;
  }
}

@media (max-width: 410px) {
  .maincard{
      padding: 0 5px;
      margin: 0 5px 5px 5px
  }
  .blockCard{
    padding: 0 5px;
  }
  .toRight{
    width: calc(100% - 250px) !important;
    margin-left: 250px !important;
    overflow-x: hidden;
  }
}