*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  background: #e6e6e6;
  scrollbar-width:thin;
}

.App{
  display: flex;
}

.rightSection{
  width: calc(100% - 250px);
  margin-left: 250px;
}

a{
  text-decoration: none;
}

::-webkit-scrollbar{
  background: #FFF;
  width: 10px;
  /* margin-right: 10px; */
}

::-webkit-scrollbar-track{
  color: #FFF;
}

::-webkit-scrollbar-button{
  display: none;
}

::-webkit-scrollbar-thumb{
  background: #C0C0C0;
  border-radius: 10px;
  border: solid 2px transparent;
}